.size-fit {
  
  flex-basis: auto;

}

.size-fill {
  
  flex: 1 1 0;

}

.size-fill-alt {
  
  flex: 1 1 auto;

}

.size-full {
  
  display: block !important;
  inline-size: 100% !important;
  min-inline-size: 100% !important;

}

.width6 {
  
  inline-size: 6rem !important;
  min-inline-size: 0 !important;
  max-inline-size: 100% !important;

}

.width10 {
  
  inline-size: 10rem !important;
  min-inline-size: 0 !important;
  max-inline-size: 100% !important;

}

.width16 {
  
  inline-size: 16rem !important;
  min-inline-size: 0 !important;
  max-inline-size: 100% !important;

}

.width24 {
  
  inline-size: 24rem !important;
  min-inline-size: 0 !important;
  max-inline-size: 100% !important;

}

.width32 {
  
  inline-size: 32rem !important;
  min-inline-size: 0 !important;
  max-inline-size: 100% !important;

}

@media (max-width: 720px) {
  .width6, .width10, .width16, .width24, .width32 {
    min-inline-size: 0 !important;
    max-inline-size: 100% !important;
  }
  .size-full {
    min-inline-size: 0 !important;
  }
}
