.root {
  display: flex;
  flex-direction: column;
  padding-inline: 3rem;
  padding-block: 3rem 2rem;
}

.close {
  position: absolute;
  inset-inline-end: 1rem;
  inset-block-start: 1rem;
}

.footer {
  display: flex;
  align-items: center;
  margin-block-start: 1rem;
}

.prev + .next {
  margin-inline-start: 1rem;
}

@media (max-width: 480px) {
  .root {
    box-sizing: border-box;
    max-inline-size: 100%;
    padding-inline: 1rem;
    padding-block: 2.4rem 1.25rem;
  }

  .footer {
    flex-wrap: wrap;
    gap: 0.5rem;
  }
}

.backdrop {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.meter {
  display: flex;
  flex: 1 1 0;
  align-items: center;
}

.meterItem {
  inline-size: 0.8rem;
  block-size: 0.8rem;
  border-radius: 50%;
  background-color: var(--separator-color);

  & + & {
    margin-inline-start: 0.2rem;
  }
}

.meterCurrent {
  background-color: var(--text-color);
}
