.root {
  display: inline-block;
  width: 100%;
  min-width: min(12rem, 100%);
  vertical-align: middle;
  --color-primary: var(--secondary);
  --color-background: var(--primary);
  --color-secondary: var(--primary-d1);
}

.disabled {
  opacity: 0.55;
  pointer-events: none;
}
