.root {
  box-sizing: border-box;
  max-inline-size: calc(100vw - 16px);
  max-block-size: calc(100dvh - 16px);
  overflow: auto;
  color: var(--Popup__color);
  background-color: var(--Popup__background-color);
  box-shadow: var(--Popup__box-shadow);
}

.arrow {
  inline-size: 20px;
  block-size: 20px;
  color: var(--Popup__color);
  background-color: var(--Popup__background-color);
  transform: translate(-10px, -10px) rotate(45deg);
}
