.root {
  
  outline: none;

  display: inline-block;
  position: relative;
  vertical-align: middle;
  inline-size: min(20rem, 100%);
  min-inline-size: 0;
  max-inline-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
  color: var(--Button__color);
  background-color: var(--Button__background-color);
  font-family: var(--default-font-family);
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
  text-align: start;
  text-transform: none;
  cursor: pointer;
}

.focused {
  color: var(--Button--focused__color);
  background-color: var(--Button--focused__background-color);
  outline: none;
}

.disabled {
  
  opacity: 0.7;

}

.placeholder {
  display: flex;
  min-inline-size: 0;
  max-inline-size: 100%;
  overflow: hidden;
}

.placeholderName {
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  flex: 1;
  vertical-align: middle;
  block-size: 2rem;
  margin: 0;
  padding-inline: min(1.5rem, 12%);
  padding-block: 0;
  line-height: 2rem;
}

.placeholderArrow {
  flex: 0 0 auto;
  max-inline-size: 50%;
  overflow: hidden;
  vertical-align: middle;
  block-size: 2rem;
  margin: 0;
  padding-inline: 0 min(1.5rem, 12%);
  padding-block: 0;
  line-height: 2rem;
}
