.root:not(:first-child) {
  margin-block-start: 1rem;
}

.root:not(:last-child) {
  margin-block-end: 1rem;
}

.item {
  display: flex;
  min-inline-size: 0;
  max-inline-size: 100%;
}

.item_active {
  border-block-end: var(--separator-border);
  color: var(--text-color);
}

.item_inactive {
  color: var(--text-color-f2);
}

.index {
  display: inline-block;
  min-inline-size: min(3rem, 28%);
  text-align: end;
}

.content {
  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  display: inline-block;
  min-inline-size: 0;
  max-inline-size: 100%;
  flex: 1 1 auto;
  font-style: italic;
}

.separator {
  display: inline-block;
  min-inline-size: min(2rem, 20%);
  text-align: center;
}
