.textInput_normal {
  margin-block-start: 3rem;
}

.textInput_compact {
  margin-inline: max(-4rem, calc((100vw - 100%) / -2 + 1rem));
  margin-block-start: 3rem;
}

.textInput_bare {
  margin-inline: max(-8rem, calc((100vw - 100%) / -2 + 1rem));
  padding-block-start: 10rem;
}

.keyboard {
  margin-block-start: 3rem;
}
